#ui-view {
  overflow-y: scroll; }

body {
  color: rgba(0, 0, 0, 0.54); }

a {
  color: #6CB6C7; }

#fixed-topbar img {
  height: 64px;
  padding: 1rem 0;
  opacity: .8;
  transition: .2s ease-in-out; }

#fixed-topbar img:hover {
  opacity: 1;
  padding: .8rem 0; }

.hero {
  background-color: #6CB6C7;
  background-image: url("/img/hero.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center top;
  height: 192px;
  color: white;
  font-size: 2rem;
  font-weight: 100;
  letter-spacing: 0rem;
  text-transform: uppercase;
  padding-top: 192px; }
  .hero button {
    margin: 0;
    padding: .3rem 1.5rem; }

#shadow-util {
  box-shadow: -5px 0 4px #483b4b; }

md-card {
  margin: 0;
  width: 100%; }
  md-card md-card-title {
    padding: 15px 10px 15px 10px; }
  md-card md-card-title-text > span.md-headline {
    font-size: 18px;
    line-height: 21px;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: pre-line; }
  md-card md-card-title-text > span.md-subhead {
    font-size: 14px;
    line-height: 16px;
    font-weight: light;
    text-overflow: ellipsis; }
  md-card md-card-icon-actions button {
    margin: 0 !important; }

.container {
  position: relative;
  margin: 0 auto;
  max-width: 1080px; }

.md-user-avatar img {
  padding: 5px; }

md-card-header.ebook {
  background: #28bfa1;
  color: rgba(0, 0, 0, 0.38); }
